@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Contact Page</h1>
<h2>List of employees that can help you</h2>
<ul>
    @foreach (var pr in ViewData["person"] as List<ContactViewModel>)
    {
    <ul class="list-group">
        <li class="list-group-item border-primary mb-2">
            @pr.Name
            <ul class="list-group">
                <li class="list-group-item border-info mb-2">@pr.Email</li>
            </ul>
        </li>
    </ul>
        
    }
</ul>
<h4>@ViewBag.Message</h4>