@model MvcForms.Models.FormViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Hello <span>@Model.FirstName</span> <span>@Model.LastName</span>.</p>
@if (Model.IsSameName)
{
    <p>Wow! I should just call you @Model.FirstName squared.</p>
}
<p>It's great to meet you!</p>