@model MvcForms.Models.MessageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Model.Messsage</h4>

<input class="text-uppercase" type="button" value="Back" onclick="location.href = '@Url.Action("Index", "Home")'";